<div id="demo">
    <div class="row">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
                <div class="header">Wonka Info page example</div>
                <lib-info-panel
                    [header]="header"
                    [content]="content"
                    [class]="'style-class'"
                    [imageClass]="'image-class'"></lib-info-panel>
                <br>
                <pre>
                    <code class="code" [innerHtml]="explanation"></code>
                </pre>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
